.container-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 50%;
  background-color: #aed9ea;
  height: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
}

.content-element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 10px;
  border-top: 1px solid #01263c;
  border-bottom: 1px solid #01263c;
  box-shadow: inset -1px 2px 5px 0px rgb(2 38 60 / 9%), inset 0px 1px 9px 0px rgb(2 38 60 / 42%);
  background-color: #e9f4f7;
}

.content-diff {
  height: 65vh;
  overflow: auto;
  padding: 10px;
  background: #e9f4f7;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn-copy {
  padding: 10px;
  background-color: #02263c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-copy:hover {
  padding: 10px;
  background-color: #01131e;
}
